In [ ]:
pip install bs4
pip install selenium
pip install webdriver-manager
pip install fake-useragent

In [2]:
import requests
from bs4 import BeautifulSoup
import numpy as np
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.common.by import By
import pandas as pd
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.service import Service as ChromeService
from selenium.webdriver.common.keys import Keys
from fake_useragent import UserAgent
from selenium import webdriver
import time
import re

In [3]:
ua = UserAgent()
user_agent = ua.random
print(user_agent)
# chrome option for disabling notifications while scrapping
option = Options()
option.add_argument("--disable-infobars")
option.add_argument("start-maximized")
option.add_argument("--disable-extensions")
option.add_argument(f'--user-agent={user_agent}')
# Pass the argument 1 to allow and 2 to block
#option.add_experimental_option("prefs", { "profile.default_content_setting_values.notifications": 1 })
# chrome driver path 
#driver = webdriver.Chrome(options=option,service=ChromeService(ChromeDriverManager().install()))

Mozilla/5.0 (iPhone; CPU iPhone OS 17_1 like Mac OS X) AppleWebKit/605.1.15 (KHTML, like Gecko) EdgiOS/119.0.2151.78 Version/17.0 Mobile/15E148 Safari/604.1

In [ ]:
n_page = 10

pages = np.arange(1,n_page+1) #page_list
reviews = []

urls = 'https://www.mouthshut.com/product-reviews/Tanishq-Goregaon-East-Mumbai-reviews-925903644'
for page in pages:
    url = urls+'-page-'+str(page)
    print(url)
    driver.get(url)    
    with open('page_source.html', 'w', encoding="utf-8") as f:
        f.write(driver.page_source)
        with open('page_source.html','r',encoding="utf-8") as o:
            html_soup = BeautifulSoup(o,'html.parser')
            data_containers = html_soup.find_all('div',class_='row review-article')
            for container in data_containers:
                d = container.find('div',class_='more reviewdata').text
                reviews.append(d)

In [ ]:
# =============================================================================
# Import library
# =============================================================================

browser = webdriver.Chrome(options=option,service=ChromeService(ChromeDriverManager().install()))


html = "https://www.mypetrolprice.com/2/Diesel-price-in-Delhi?FuelType=1&LocationId=2"
city_name = 'Delhi'
Data = []
# =============================================================================
# Get HistroyData
# =============================================================================
"""Get Diesel Price"""
browser.get(html)
pages = int(
    browser.find_element('xpath',
        '//*[@id="BC_GV_CustomGridPager_LabelNumberOfPages"]'
    ).text
)
print(pages)
" Get Table in a perticular Page"
for p in range(1, pages+1):
    print(f"Page:{p} city_name: {city_name}")
    # //*[@id="BC_GV_CustomGridPager_NextButton"]
    NEXT_BUTTON_XPATH = '//input[@type="submit" and @name="ctl00$BC$GV$ctl07$CustomGridPager$NextButton" and @value=">"]'
    try:
        elem = browser.find_element('xpath',NEXT_BUTTON_XPATH)
        table = browser.find_element(By.ID,"BC_GV")
        # Entire Row
        rows = table.find_elements(By.TAG_NAME ,"td")
        for i in range(0, (len(rows) - 1)):
            # Append Price
            Price = rows[i].find_element(By.CLASS_NAME,"GVPrice").text.replace("₹ ", "")
            # Append Date
            Date = re.sub("\n", "-", rows[i].find_element(By.CLASS_NAME,"DateDiv").text)
            Date = pd.to_datetime(Date).strftime("%Y-%m-%d")
            # Append city_name
            Data.append([city_name,Date,float(Price)])
            time.sleep(3)
        #print(Data)
        elem.click()        
    except:
        print("Exit may be last page")
        browser.close()
    # browser.forward()
browser.close()

In [61]:
df = pd.DataFrame(Data, columns = ['City', 'Date','Price'])  
print(df.shape)
df.to_csv(f'C://Users//Syed Abdullah Ashraf//Desktop//delhi diesel price.csv', index= False)
df

(1832, 3)

       City        Date  Price
0     Delhi  2024-06-01  87.66
1     Delhi  2024-05-28  87.66
2     Delhi  2024-05-26  87.66
3     Delhi  2024-05-25  87.66
4     Delhi  2024-05-24  87.66
...     ...         ...    ...
1827  Delhi  2002-11-16  18.57
1828  Delhi  2002-10-17  19.23
1829  Delhi  2002-10-01  18.91
1830  Delhi  2002-09-16  18.68
1831  Delhi  2002-09-01  18.34

[1832 rows x 3 columns]

In [229]:
df_pivoted = df.pivot_table(index = 'City', columns = 'Date', values = 'Price')
df_pivoted

Date,2002-09-01,2002-09-16,2002-10-01,2002-10-17,2002-11-16,2002-12-01,2003-01-01,2003-01-03,2003-02-01,2003-03-01,...,2024-05-18,2024-05-20,2024-05-21,2024-05-22,2024-05-23,2024-05-24,2024-05-25,2024-05-26,2024-05-28,2024-06-01
City,,,,,,,,,,,,,,,,,,,,,
Delhi,18.34,18.68,18.91,19.23,18.91,18.06,19.47,19.07,19.84,21.21,...,87.66,87.66,87.66,87.66,87.66,87.66,87.66,87.66,87.66,87.66

In [143]:

browser = webdriver.Chrome(options=option,service=ChromeService(ChromeDriverManager().install()))


html = "https://www.mypetrolprice.com/petrol-price-in-india.aspx"
Data = []
# =============================================================================
# Get HistroyData
# =============================================================================
"""Get Diesel Price"""
browser.get(html)

In [149]:
diesel_urls = []
with open('page_source.html', 'w', encoding="utf-8") as f:
        f.write(browser.page_source)
        with open('page_source.html','r',encoding="utf-8") as o:
            html_soup = BeautifulSoup(o,'html.parser')
            data_containers = html_soup.find_all('div',class_='sixteen columns row')
            for containers in data_containers:
                states = containers.find_all('h2')
                #print(states)
                cities= containers.find_all('div',class_='CH')
                #print(cities)
                for city in cities:
                    #print(city)
                    for a in city.find_all('a',{'class':''}):
                        diesel_urls.append([a.text,a['href']])

In [150]:
diesel_url_df = pd.DataFrame(diesel_urls, columns=['city','link'])
diesel_url_df

           city                                               link
0    Port Blair  https://www.mypetrolprice.com/29/Petrol-price-...
1     Anantapur  https://www.mypetrolprice.com/123/Petrol-price...
2      Chittoor  https://www.mypetrolprice.com/113/Petrol-price...
3         Eluru  https://www.mypetrolprice.com/130/Petrol-price...
4        Guntur  https://www.mypetrolprice.com/85/Petrol-price-...
..          ...                                                ...
505   Medinipur  https://www.mypetrolprice.com/394/Petrol-price...
506     Purulia  https://www.mypetrolprice.com/392/Petrol-price...
507     Raiganj  https://www.mypetrolprice.com/645/Petrol-price...
508        Suri  https://www.mypetrolprice.com/405/Petrol-price...
509      Tamluk  https://www.mypetrolprice.com/399/Petrol-price...

[510 rows x 2 columns]

In [183]:
def proper_url(x):
    z = re.findall(r'\d+', x)[0]
    return x+str('?FuelType=0&LocationId=')+str(z)

diesel_url_df['url'] = diesel_url_df['link'].apply(lambda x : proper_url(x))
diesel_url_df.head()

,city,link,url
0,Port Blair,https://www.mypetrolprice.com/29/Petrol-price-...,https://www.mypetrolprice.com/29/Petrol-price-...
1,Anantapur,https://www.mypetrolprice.com/123/Petrol-price...,https://www.mypetrolprice.com/123/Petrol-price...
2,Chittoor,https://www.mypetrolprice.com/113/Petrol-price...,https://www.mypetrolprice.com/113/Petrol-price...
3,Eluru,https://www.mypetrolprice.com/130/Petrol-price...,https://www.mypetrolprice.com/130/Petrol-price...
4,Guntur,https://www.mypetrolprice.com/85/Petrol-price-...,https://www.mypetrolprice.com/85/Petrol-price-...